.containerGrid {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-gap: 4px;
}

.dependents {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.buttonDiv {
  grid-column-start: 2;
}

.buttonDiv div {
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .dependents {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
}
@media (min-width: 2048px) {
}
