.containerGrid {
  display: grid;
  grid-template-columns: 150px 200px 300px;
  grid-gap: 4px;
}

.dependentGrid {
  display: grid;
  grid-template-columns: 200px 300px;
  grid-auto-rows: 1fr;
  grid-gap: 4px;
}

.button {
  width: 80px;
}
