.container {
  margin: 16px;
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
  .contentContainer {
    margin: 16px 16px 16px 150px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 2048px) {
  html {
    font-size: 18px;
  }
}
